<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles//login.css" type="text/css" />
    <title>Login</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>login</title>
      </head>
      <body>
        <div class="card">
          <h4 class="title">Log In!</h4>
          <form action="/user/login" method="post">
            <div class="field">
              <input
                placeholder="Email"
                class="input-field"
                type="text"
                required
                name="email"
              />
            </div>
            <div class="field">
              <input
                placeholder="Password"
                class="input-field"
                name="password"
                type="password"
                required
              />
            </div>
            <button class="btn" type="submit">Login</button>
          </form>
        </div>
      </body>
    </html>
  </body>
</html>
